* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    font-family: Arial, Helvetica, sans-serif
} 

header {
    background-color: #ff6901;
    height: 50px;
}

/* contenitore dopo header */
.contenitore-testata {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.menu1 ul li {
    display: flex;
    display: inline;

}

.menu1 ul li a {
    color: #fff;
    text-decoration: none;
}

.logo {
    display: flex;
    align-self: center;
    height: 30px;
}

.logo img {
    margin-top: 10px;
}

.icon-link {
    padding: 3px;
    fill: #fff;
}

/* contenitore del main */
main {
    height: auto;
}

.contenitore-carte {
    margin: 0 auto;
    margin-top: 50px;
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
     position: relative; 
     margin-bottom: 40px;
}

.contenitore-carte2 {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    height: 500px;
     position: relative; 
     margin-bottom: 35px;
}
.cards {
    height: auto;
    width: 300px;
    position: relative;
}

.cards img {
    display: flex;
    align-items: center;
    height: auto;
    width: 300px;
}

.cuore
 {
    position: absolute;
    padding: 5px;
    top: 10px;
    right: 0;
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 2em;
    z-index: 1
}

.number-red{
    color: red;
}
.number-decor{
    text-decoration: line-through;
}

.sconto-red{
    position: absolute;
    left: 0;
    bottom: 90px;
    height: auto;
    width: auto;
    background-color: red;
    color: white;
    z-index: 1;
    padding: 3px;
}
.sconto-red2{
    position: absolute;
    left: 33px;
    bottom: 90px;
    height: auto;
    width: auto;
    background-color: red;
    color: white;
    z-index: 1;
    padding: 3px;
}

.sostenibilita{
    position: absolute;
    bottom: 90px;
    left:75px;
    height: auto;
    width: auto;
    background-color: green;
    color: white;
    z-index: 1;
    padding: 3px;

}.sostenibilita2{
    position: absolute;
    bottom: 90px;
    left: 0;
    height: auto;
    width: auto;
    background-color: green;
    color: white;
    z-index: 1;
    padding: 3px;

}
.sostenibilita3{
    position: absolute;
    bottom: 90px;
    left: 45px;
    height: auto;
    width: auto;
    background-color: green;
    color: white;
    z-index: 1;
    padding: 3px;

}

footer{
    background-color: #1a1a1a;
    
}
.contenitore-footer{
    display: flex;
    justify-content: space-around;
    height: 90px;
    margin: 0 auto;
    width: 66%;
}

.lista-footer{
    margin-top: 20px;
    height: auto;
}
.lista-footer ul li {
    display: flex;
    display: inline;

}
.lista-footer ul li a{
    color: white;
    display: inline;
    text-decoration: none;
}
.lista-footer ul li h4{
    color: white;
}