* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid lime;
}

header {
    background-color: #ff6901;
    height: 50px;
}

/* contenitore dopo header */
.contenitore-testata {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.menu1 ul li {
    display: flex;
    display: inline;

}

.menu1 ul li a {
    color: #fff;
    text-decoration: none;
}

.logo {
    display: flex;
    align-self: center;
    height: 30px;
}

.logo img {
    margin-top: 10px;
}

.icon-link {
    padding: 3px;
    fill: #fff;
}

/* contenitore del main */
main {
    height: auto;
}

.contenitore-carte {
    margin: 0 auto;
    margin-top: 50px;
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
     position: relative; 
}

.contenitore-carte2 {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    height: 500px;
     position: relative; 
}
.cards {
    height: auto;
    width: 300px;
    position: relative;
}

.cards img {
    display: flex;
    align-items: center;
    height: auto;
    width: 300px;
}

.cuore
 {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 2em;
    z-index: 1
}

.number-red{
    color: red;
}
.number-decor{
    text-decoration: line-through;
}

.sconto-red{
    position: absolute;
    left: 0;
    bottom: 90px;
    height: auto;
    width: auto;
    background-color: red;
    color: white;
    z-index: 1;
    padding: 3px;
}
.sconto-red2{
    position: absolute;
    left:30px;
    bottom: 90px;
    height: auto;
    width: auto;
    background-color: red;
    color: white;
    z-index: 1;
    padding: 3px;
}

.sostenibilita{
    position: absolute;
    bottom: 90px;
    left:75px;
    height: auto;
    width: auto;
    background-color: green;
    color: white;
    z-index: 1;
    padding: 3px;

}.sostenibilita2{
    position: absolute;
    bottom: 90px;
    left: 0;
    height: auto;
    width: auto;
    background-color: green;
    color: white;
    z-index: 1;
    padding: 3px;

}
.sostenibilita3{
    position: absolute;
    bottom: 90px;
    left: 45px;
    height: auto;
    width: auto;
    background-color: green;
    color: white;
    z-index: 1;
    padding: 3px;

}